<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(static/images/profile.jpg);"></div>
							<h1><span>Asif Iqbal</span></h1>
							<h3><span>Software Engineer | Python Developer | Cyber Security Analyst</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/Asif_Sadka"><i class="icon-twitter2"></i></a></li>
									<li><a href="https://github.com/AsifIqbal093"><i class="icon-github2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/asif-iqbal093/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://bugcrowd.com/Im_Sadka"><i class="icon-link2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Asif Iqbal</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+92 306 8893543</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">im.asif093@gmail.com</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">House# 9-B, St# 24, F-8/3, Islamabad</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>I am Python/Django Developer with hands on experience with ERPs and business solutions software's. Currently working as a full stack developer using Python Django Framework.</p>
					<p>Also have skills and experience of Web application penetration testing and security researching. With more than two year of association with Bugcrowd, I have tested dozen of Web application for security testing and reported a quite few numbers of bugs on numerous platforms</p>
					<p>I also have been associated with data science and machine learning using python for some time, completed course with a title "Python for Data Science and Machine Learning", done some projects at my own, participated in Kaggle (an online platform) competitions. I can definitely extract insights from data set by collect, cleaning, analyzing and visualization of data. Also can perform machine learning tasks whether Regression, Classification or Association.</p>
					<p>With more than eight years of association with computer Science and almost four years of professional in software engineering and cyber security, my aim is to keep on learning and advancing by acquired new skills and achieve new targets. That's what I expect from myself and that's what I have to, in order to keep pace with new trends in Computer Sciences.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/Asif_Sadka"><i class="icon-twitter2"></i></a></li>
							<li><a href="https://github.com/AsifIqbal093"><i class="icon-github2"></i></a></li>
							<li><a href="https://www.linkedin.com/in/asif-iqbal093/"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://bugcrowd.com/Im_Sadka"><i class="icon-link2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Software Engineer | Python Developer</h3>
									<span class="company">Excellence Delivered - Jan 2021 - Current</span>
								</div>
								<div class="timeline-body">
									<p>Responsibilities include Development of solution architecture starting from Requirements Analysis,Designing the Architecture and Process flow, Development of Backend server and Integration of theFrontend of the End Product. Specialties are bootstrap and jQuery [Frontend], Python Django [Backend] and MySQL [Database].</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Junior Software Engineer | Python Developer</h3>
									<span class="company">Business Analytics - Feb 2021 - Jan 2022</span>
								</div>
								<div class="timeline-body">
									<p>Responsibilities include Development of ERP software for Campus Management stating from Requirements Engineering, Design the Architecture and Process flow, Development and Deployment of the End Product. The Technologies used for this Project was bootstrap [Frontend], Python Django [Backend] and MySQL [Database].</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Secuirty Analysts | Penetration Tester</h3>
									<span class="company">Bugcrowd Inc. - July 2020 - December 2022</span>
								</div>
								<div class="timeline-body">
									<p>Responsibilities include Understanding the API, Reviewing Source code for Information Disclosure, Hidden Endpoints, Logical Flaws and Testing endpoints [URLS], Intercepting the requests from both client and Server Side to find Security loopholes. Once a security flaw is found then generating a Proof of Concept which includes brief description, Impact, Steps to Reproduce, Remedy of the flaw. </p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Unity Game Developer | C# Developer</h3>
									<span class="company">Sign Up Solution - Jul 2018 – Sep 2018</span>
								</div>
								<div class="timeline-body">
									<p>Worked as part of a development Team and use Game Design Plans to develop Game Applications using C-Sharp Scripting alongside game environment designing. Responsibilities also include the evaluation of code and the performance of the Game Applications produced </p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">Preston University Islamabad - 2014 - 2018</span>
								</div>
								<div class="timeline-body">
									<p>With major subjects of software Engineering, i have completed four year Bachelors degree in Computer Science from Prestion University Islamabad with a CGPA of 3.987.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-desktop"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Development</h3>
								<p>Well Experienced with Python Web Frameworks like Django and Flask.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-write"></i>
							</span>
							<div class="feature-copy">
								<h3>Scripting</h3>
								<p>had experience and skills to write scripts using Python.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-presentation"></i>
							</span>
							<div class="feature-copy">
								<h3>Data Analytics</h3>
								<p>Had completed various analytical and data science projects with Python.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-gears"></i>
							</span>
							<div class="feature-copy">
								<h3>Automation and Testing</h3>
								<p>Have the skills to write Automation and testing scripts in Python.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Artificial Intelligence</h3>
								<p>have worked on some of Artificial Intelligence task like Regression and Classification, also work on opencv for face recognition.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-shield"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Penetration Testing</h3>
								<p>Have worked on Bugcrowd Platform, a very popular platform for Peneteration Tester.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>Python</strong>80%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>Django</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>75%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Web Development</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Javascript</strong>70%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>Data Analytics</strong>75%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Penetration Testing</strong>65%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Django</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">MySQL</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Web Development</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Javascript</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Data Analytics</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Penetration Testing</span><span class="value-right">65%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/BertieModelAutomation" class="work" style="background-image: url(static/images/Bertie.jpg);">
						<div class="desc">
							<h3>Bertie Model Automation</h3>
							<span>Web Application</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/Capex-Estimator-Tool" class="work" style="background-image: url(static/images/Capex.jfif);">
						<div class="desc">
							<h3>Capex Estimator Tool</h3>
							<span>Web Application</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/EVgoBillCheckEngine" class="work" style="background-image: url(static/images/bill_check.webp);">
						<div class="desc">
							<h3>Bill Check Engine</h3>
							<span>Web Application</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/PythonDjangoProject" class="work" style="background-image: url(static/images/cms.png);">
						<div class="desc">
							<h3>Campus Management System</h3>
							<span>Web Application</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/reciepe-app-api" class="work" style="background-image: url(static/images/recipe.jpg);">
						<div class="desc">
							<h3>Recipe API App</h3>
							<span>Rest API</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/RealEstateManagementSystem" class="work" style="background-image: url(static/images/realestate.jpg);">
						<div class="desc">
							<h3>RealEstate Management System</h3>
							<span>Desktop Application</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/Churn-Prediction-Project" class="work" style="background-image: url(static/images/churn.png);">
						<div class="desc">
							<h3>Customer Churn Prediction</h3>
							<span>DataScience and ML</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/AsifIqbal093/AutoMPGProject" class="work" style="background-image: url(static/images/autompg.jpg);">
						<div class="desc">
							<h3>Auto MPG Project</h3>
							<span>DataScience and ML</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Courses</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://www.udemy.com/course/complete-python-developer-zero-to-mastery/" class="blog-bg" style="background-image: url(static/images/python.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">January-2023</span>
							<h3><a href="https://www.udemy.com/course/complete-python-developer-zero-to-mastery/">Complete Python Developer in 2023: Zero to Mastery</a></h3>
							<p>Using Python to work with Email, Text Messages, CSV, PDF and Image Files, Data Visualizations, Machine learning Model and Image detection, web scraping etc.</p>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://www.udemy.com/course/django-python-advanced/" class="blog-bg" style="background-image: url(static/images/Django.png);"></a>
						<div class="blog-text">
							<span class="posted_on">December-2022</span>
							<h3><a href="https://www.udemy.com/course/django-python-advanced/">Build a Backend REST API with Python & Django - Advanced</a></h3>
							<p>Features include on how to Build a Backend REST API using Python, Django, Django REST Framework, Docker, GitHub Actions, Postgres and Test Driven Development!</p>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://www.udemy.com/course/the-complete-javascript-course-legacy/" class="blog-bg" style="background-image: url(static/images/Javascript.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Aprail 2022</span>
							<h3><a href="https://www.udemy.com/course/the-complete-javascript-course-legacy/">The Complete JavaScript Course 2022: Expert!</a></h3>
							<p>Modern JavaScript from the very beginning, step-by-step, guide through practical and fun code examples, how JavaScript works, beautiful and complete projects.</p>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>I have worked as a Python Developer for the last four years in various Organization. During that time, I have grown the skills and expertise. Using this specialized knowledge, I am open for oppertunities of Software Engineering posts related to Python Programming.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(static/images/techbg.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="submit_form" method="Post">
				<div class="row form-group">
					<div class="col-md-6">
						<input name="fname" type="text" id="fname" class="form-control" placeholder="Your firstname">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input name="lname" type="text" id="lname" class="form-control" placeholder="Your lastname">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input name="email" type="text" id="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input name="subject" type="text" id="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>
	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<p><b>Thank you for Visting My PortFolio.</b></p>
					<p>All Rights Reserved.<br> Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="static/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="static/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

